<div id="<%= dom_id location %>">
  <p>
    <strong>Home location:</strong>
    <%= location.home_location %>
  </p>

  <p>
    <strong>Work location:</strong>
    <%= location.work_location %>
  </p>

</div>
